<div class="table-responsive">
  <table class="table table-hover">
    <!--Table head-->
    <thead>
      <tr class="table-secondary">
        <th class="col-lg-1">#</th>
        <th>Title</th>
        <th>Description</th>
        <th colspan="3" class="col-lg-1">Actions</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <th scope="row"><%= category.id %></th>
          <td><%= category.name %></td>
          <td><%= category.description %></td>
          <td><%= link_to "Edit", edit_category_path(category), class:"btn btn-warning btn-sm" %></td>
          <td><%= link_to "Show", category_path(category), class: "btn btn-outline-dark btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
    <!--Table body-->
  </table>
</div>