<div class="container">
  <h2>Reports Generation</h2>
  <br>
  <%= form_with url: reports_report_path, method: :get do |f|%>
    <div class="form-group">
      <%= f.label :date_start, "Starting from:" %>
      <%= f.date_field :date_start, value: (Time.now-1.month).strftime('%Y-%m-%d'), class: "form-control", style: "width: 19rem" %><br>
    </div>

    <div class="form-group">
      <%= f.label :date_end, "Ending on:" %>
      <%= f.date_field :date_end, value: Time.now.strftime('%Y-%m-%d'), max: Date.today.end_of_day, class: "form-control", style: "width: 19rem" %><br>
    </div>

    <div class="btn-group">
      <%= f.button "Report by Category", type: :submit, name: "report_type", value: "category", class: "btn btn-outline-primary" %>
      <%= f.button "Report by Dates", type: :submit, name: "report_type", value: "dates", class: "btn btn-outline-primary" %>
    </div>
  <% end %>
 </div>

