<h1>Reports#index</h1>
<p>Find me in app/views/reports/index.html.erb</p>

<%= form_with url: reports_report_by_category_path,method: :get do |f|%>
  <%#= f.label :name, "Name:" %>
  <%#= f.text_field :name %>
  <%= f.label :date_start, "Date from:" %>
  <%= f.date_field :date_start %><br>
  <%= f.label :date_end, "Date to:" %>
  <%= f.date_field :date_end %><br>
  <%= f.collection_select :category_id, Category.order(:name), :id, :name %>
  <input type="submit" value="Categories"><br>
<% end %>

<%= link_to "Categories", reports_report_by_category_path %>
<%= link_to "Dates", reports_report_by_dates_path %>



