<div class="table-responsive">
  <table class="table table-hover">
    <!--Table head-->
    <thead>
      <tr class="table-secondary">
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
        <th colspan="3" class="col-lg-1">Actions</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <% @operations.each do |operation| %>
        <tr>
          <td><%= operation.category.name %></td>
          <td><%= operation.amount %></td>
          <td><%= operation.format_odate %></td>
          <td><%= operation.description %></td>
          <td><%= link_to "Edit", edit_operation_path(operation), class:"btn btn-warning btn-sm" %></td>
          <td><%= link_to "Show", operation_path(operation), class: "btn btn-outline-dark btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
    <!--Table body-->
  </table>
  <%= paginate @operations %>
</div>