<div id="<%= dom_id operation %>">
  <div class="table-responsive">
    <table class="table table-hover w-auto">
      <!--Table body-->
      <tbody>
        <tr>
          <td class="table-light">Category name:</td>
          <td><%= operation.category.name %></td>
        </tr>
        <tr>
          <td class="table-light">Operation amount:</td>
          <td><%= operation.amount %></td>
        </tr>
        <tr>
          <td class="table-light">Description:</td>
          <td><%= operation.description %></td>
        </tr>
        <tr>
          <td class="table-light">Date of the transaction:</td>
          <td><%= operation.odate %></td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
  </div>
</div>